@import 'tailwindcss';

@config "../../tailwind.config.js";

:root {
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-hint-color: #8e8e93;
  --tg-theme-link-color: #2672cb;
  --tg-theme-button-color: #2672cb;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-secondary-bg-color: #f4f4f5;
  --tg-theme-header-bg-color: #f4f4f5;
  --tg-theme-bottom-bar-bg-color: #f4f4f5;
  --tg-theme-accent-text-color: #2672cb;
  --tg-theme-section-bg-color: #ffffff;
  --tg-theme-section-header-text-color: #8e8e93;
  --tg-theme-section-separator-color: #d3d3d3;
  --tg-theme-subtitle-text-color: #8e8e93;
  --tg-theme-destructive-text-color: #ff3b30;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

* {
  scrollbar-width: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}
